:root{
    --simo-custom-primary-color: #009ca6;
    --simo-custom-secondary-color: #009ca6;
    --simo-custom-tertiary-color: #b2e1e4;
    --simo-custom-primary-button-color: #009ca6;
    --simo-custom-footer-color: #33b0b8;
    --simo-custom-footer-text-color: #ffffff;
    --simo-custom-menu-text-color: #fff;
}
